body {
  font-family: 'Introo';
  width: 100%;
  height: 100vh;
  background: #fff;


}
.center {
    background: #fff;
    box-shadow: 0 0 56px rgba(0,0,0,0.2);
    border-radius: 40px;
    margin: auto;
    width: 75vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    border-bottom: 1px solid #dad2d2;
    background: #66339905;
}
.modlogo {
    width: 100%;
}
.headerin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logohead{
    width: 7%;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.logohead:hover .body{
    background: #333333;
}
.navhead {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.navhead .navlink::before{
    content: '';
    bottom: 0;
    height: 2px;
    background-color: #6d73c1;
    left: 0;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: .3s;
}
.navhead .navlink:hover:before{
    transform: scaleX(1);
}
.navlink:hover{
    color: #6d73c1;
}
.navlink {
    padding-bottom: 4px;
    position: relative;
    vertical-align: top;
    margin: 0 25px;
    color: #6f6f6f;
    text-decoration: none;
    transition: color .2s linear;
}
.activelink{
    color: #6d73c1;
}
