.convert{
	display: flex;
	justify-content: space-around;
	height: 60vh;
}
.left_mid{
	width: 40%;
	background: #fff;
}
.right_mid{
	overflow: hidden;
	width: 60%;
	/* background: #333; */
	background: url(../img/ForCards.jpg);
	    background-attachment: fixed;
			background-position: 100%;
	    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.58);
	    /* position: relative; */
	}

.second_screen {
	font-family: 'Introo';

}
/*SECOND SCREEN - LEFT-MID*/

.titles_left{
padding: 5%;
}
.title_item_big{
	text-transform: uppercase;
	font-size: 45px;
	color: #282828;
}
.title_item_big:after{
	opacity: 0;
	transition: .5s;
	content: "";
    display: block;
    width: 10%;
    height: 3px;
    border-radius: 90px;
    background: linear-gradient(45deg, #15eded, #029cf5);
}
.title_item_small{
	margin-top: 2%;
	font-size: 20px;
	color: #393939;
	width: 30%;
}
.text_left{
	transition: .3s;
	font-size: 15px;
	font-family: Cleanvertising, sans-serif;
	padding: 5% 8%;
	padding-bottom: 9%;
}
.button_last{
	letter-spacing: 0.8px;
	color: #fff;
	margin-left: 8%;
	padding: 2% 8%;
	border-radius: 99px;
	transition: .6s;
	background: linear-gradient(45deg, #15eded, #029cf5);

	background: #15eded;
	box-shadow: 29vw 0 8vw -25vw #029cf5 inset;
	animation: animaher 3s infinite alternate;
}

@keyframes animaher {
50% {
	background: #029cf5;
	box-shadow: 50vw 0 4vw -25vw #15eded inset;
}
}
.button_last:hover{
	margin-left: 5em;
}

.content_left:hover .title_item_big:after{
	opacity: 1;
	width: 95%;
}
.text_left:hover{
	transform: scale(1.1);
}

/*SECOND SCREEN - right-MID*/

.menu_right{
	display: flex;
	padding: 3%;
	justify-content: space-around;
	background-color: #272727;
}
.menu_right_item{
	color: #fff;
}
.menu_right_item:after{
	opacity: 0;
	transition: .5s;
	content: "";
    display: block;
    width: 10%;
    height: 3px;
    margin-top: 5px;
    border-radius: 90px;
    background: linear-gradient(45deg, #15eded, #029cf5);
}
.menu_right_item:hover:after{
	opacity: 1;
	width: 100%;
}
.current:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;
    border-radius: 90px;
    background: linear-gradient(45deg, #15eded, #029cf5);
}
.rectangel_sc1{
	transition: .3s;
	transform: translate(100%,35%);
    width: 220px;
    height: 120px;
    background-color: #029cf5;
		border-radius: 10px;
}
.rectangel_sc{
	transition: .3s;
	transform: translate(15%,45%);
    width: 220px;
    height: 120px;
    background-color: #029cf5;
		border-radius: 10px;
}
.right_mid:hover .rectangel_sc{
	transform: translate(111%,35%);
}
.right_mid:hover .rectangel_sc1{
	transform: translate(15%,45%);
}
.cards{
	display: flex;
	transform: translate(0%,-90%);
}
.card_first{
	transition: .3s;
	padding-top: 7%;
	padding-left: 7%;
	width: 40%;
	height: 20%;
}
.card_first:hover{
	transform: scale(1.1);
}
.card_second{
	transition: .3s;
	width: 30%;
	transform: translate(40%,80%);
	height: 10%;
}
.card_second:hover{
	transform: translate(-25%,70%);
}
.card_third{
	transition: .3s;
	transform: translate(-30%,40%);
	width: 30%;
	height: 10%;
}
.card_third:hover{
	transform: translate(-45%,40%);
}
.rectangel{
    width: 20em;
    height: 10em;
    background: #fff;
}
#textcard , .maxi , .gold , .iron {
	transition: .5s;
}
