header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: white
}
.right-menu {
  height: 10vh;
  font-size: 1.5em;
  font-family: "Introo";
  padding: 2%;
  padding-left: 3%;
}
.left-menu {
    padding: 3.3%;
    margin-right: 2%;
    font-family: "Introo";
}
.navigation a {
    margin-left: 4rem;
    color: white;
    font-size: 1.1em;
}
.cosmo-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.space {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}
canvas {
  /* position: fixed; */
  width: 100%;
  height: 100vh;
}
.planet-img {
  width: 100%;
}
.layer {
  width: 100%;
  margin-top: -1%;
}
.texts {
  position: absolute;
  margin-top: -66.5vh;
  color: white;
  text-transform: uppercase;
  font-family: "Introo";
}
.text-faceground {
  font-size: 3.5em;
  padding-left: 6.5vw;
  margin-top: -10%;
}
.text-background {
    color: #ffffff0d;
    font-size: 12em;
    padding-left: 2.2vw;
}
#forbcosmo {
  color: #ffffff26;

}
.liquid-button {
  cursor: pointer;
  font-family: "Introo";
  font-weight: bold;
}
.btn {
    display: block;
    margin-left: -3.7%;
}
.navigation {
  display: flex;
}
.menu-item{
	color: #fff;
  height: 4vh;
}
.menu-item:after{
	opacity: 0;
	transition: .5s;
	content: "";
    display: block;
    width: 10%;
    height: 3px;
    margin-top: 5px;
    border-radius: 90px;
    background: linear-gradient(45deg, #15eded, #029cf5);
}
.menu-item:hover:after{
	opacity: 1;
	width: 100%;
}


.headerbutton {
  position: relative;
  display: inline-block;
padding: 0.9em 1.4em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
}
.headerbutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  transition: box-shadow .5s ease, -webkit-transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease, -webkit-transform .2s ease;
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
          transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}
.headerbutton:hover::before {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.headerbutton::after {
  position: relative;
  display: inline-block;
  content: attr(data-title);
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  font-weight: bold;
  letter-spacing: .01em;
  will-change: transform;
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
          transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}

.convertes {
    margin-top: -48.8vh;
    margin-left: -1%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px);
          transform: perspective(800px);
}



/* for cosmo text */
#textCOSMO {
  font-size: 2em;
  line-height: 1em;
  display: inline-block;
}
#textCosmoBank {
  font-size: 2em;
  display: inline-block;
  transform: translate(0px, -1vh);

    background: linear-gradient(50deg, #ffdf40, #ff8359);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#textCOSMO:hover {
  cursor: default;
}
#textCOSMO .wrapperererer {
  display: inline-block;
  top: -900px;
  position: relative;
  height: 150px;
  width: 90px;
  transition: ease 0.3s all;
}
#textCOSMO .wrapperererer #spanid {
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 0.3s all;
}
#textCOSMO .wrapperererer #spanid.letter-2 {
  color: rgba(89, 194, 255, 0.5);
}
#textCOSMO .wrapperererer #spanid.letter-1 {
  color: rgba(18, 112, 227, 0.5);
  z-index: 1;
}
#textCOSMO .wrapperererer #spanid.letter-1:hover {
  top: -3px;
  right: -3px;
}
#textCOSMO .wrapperererer #spanid.letter-1:hover ~ .letter-2 {
  top: 3px;
  right: 3px;
}
#textCOSMO .wrapperererer #spanid.spaceddd {
  padding: 0;
  min-width: 30px;
  display: inline-block;
}
