#dust {
  background: #262530;
  position: absolute;
  width: 100%;
  height: 110vh;
  z-index: -1;
  /* margin-bottom: -50vh; */
}
.beetweenscreens {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/cosmostop.jpg);
    background-attachment: fixed;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.58);
    position: relative;
}
.next-text-beetween {
    color: #ffffff1f;
    font-size: 13em;
    font-family: 'Introo';
}
.dastscreen {
  height: 65vh;
}
.dastscreenblock {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11vh;
}
.verybigtext {
  width: 30vw;
  margin-right: -2vw;
  z-index: 100;

  font-family: 'Introo';
  font-size: 5em;
  color: #fff;
  text-align: right;
}
.verybigtext span {
  font-size: 1.5em;
}
.forhr {
    position: absolute;
    width: 54vw;
    margin-left: -30vw;

}
#hrnumber1 {
  transform: rotate(20deg);
}
#hrnumber2 {
    transform: rotate(-20deg);
    margin-top: 45vh;
}
.rgbblok {
    display: block;
    width: 13vw;
    height: 30vh;
    background: linear-gradient(80deg, #ffd941, #ff8359);
    z-index: 10;
    position: absolute;
    margin-top: -2vh;
    margin-left: 13.5vw;
    transition: ease .7s;
}
.cosmoimgcenter:hover .rgbblok{
  margin-top: -5vh;
  margin-left: 14.5vw;
}
.rgbblok_ {
  margin-top: 52vh;
  margin-left: 4vw;
}
.cosmoimgcenter:hover .rgbblok_{
  margin-top: 54vh;
  margin-left: 2vw;

}
.for-z-zz {
  z-index: 99;
  position: relative;
}
.textes_ {
  width: 35%;
  margin-left: 5vw;
  font-family: 'Introo';
  color: #FFF;
}
.firstbigtext {
  font-size: 3em;
  padding-bottom: 10vh;
  background: linear-gradient(50deg, #ffdf40, #ff8359);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.firstbigtext::after {
    content: '';
    display: block;
    height: 3px;
    margin-top: 1vh;
    width: 38vw;
    margin-left: -14vw;
    background: #fff;
    position: absolute;
    z-index: 101;
  }
.collores {
    background: gold;
    box-shadow: 35vw 0 10vw -25vw #ff7c2f inset;
    animation: animahr 3s infinite alternate;
}
@keyframes animahr {
  50% {
    background: #da5100;
    box-shadow: 45vw 0 10vw -25vw #f6bb43 inset;
  }
}
.neextnames {
  font-size: 0.8em;
  margin-left: -4vw;
}
.lastspan {
  padding-top: 1vh;
    font-size: 0.75em;
    width: 20vw;
    margin-left: 1vw;
    display: block;
    color: #8f8f8f;
}
.firstsquare {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  position: absolute;
  z-index: 101;
  margin: -18vh 45vh;
}
.firstsquareh {
  opacity: .4;
  transition: 1s;
}
.menusquare:hover .firstsquareh {
  opacity: 1;
}
.lastsquare {
  opacity: 1;
  margin: -17vh 46vh;
  transition: 1s;
}
.menusquare:hover .lastsquare {
  opacity: .4;
}
#text {
      height: 22vh;
      display: block;
      opacity: 1;
      transition: .5s;
}
#texte {
  opacity: 1;
  transition: .5s;
}
#texte1 {
  opacity: 1;
  transition: .5s;
}
