/*MAKET st*/
body{
	background-color: #acacac;
}
.csr{
	/* background-color: #acacac; */
	overflow: hidden;
}
/*MAKET end*/
footer{
	margin-top: 15%;
	display: flex;
}
/*MAKET st*/
.menu{
	font-family: intro, sans-serif;
	display: flex;
	font-size: 12px;
	margin-left: 55%;
}
.menu_it{
	padding: 20px;
}
/*MAKET end*/
.rectangel_left{
	z-index: 100;
	transform: rotate(10deg) scale(1.1) translate(-4%, 10%);
	width: 55%;
	height: 60vh;
	color: #fff;
	background: #333333;
}
.rectangel_right{
	transform: rotate(-10deg) scale(1.25) translate(-4%, 21%);
	width: 45%;
	height: 50vh;
	background: #262626;
}
.footer_title{
	z-index: 20;
	transform: translate(0%, -45%);
	font-family: Intro, sans-serif;
	font-size: 130px;
	margin-left: 18%;
}
.obvertka_footer{
	transform: translate(0%, -135%);
}
.mid_polosa:after{
	z-index: 1;
	opacity: 1;
	transform: rotate(0deg) translate(-6.4em, 4em);
	transition: .5s;
	content: "";
    display: block;
    width: 120%;
    height: 290px;
    border-radius: 5px;
    background: linear-gradient(-45deg, #f06428, #f37322);
}
.rectangel_left:hover .mid_polosa:after{
	transform: rotate(0deg) translate(-13em, 8em);
}
.footer_sub_title{
	transition: .5s;
	text-shadow: 15px -10px #3a3a3a;
	font-family: Intro, sans-serif;
	margin-top: 10%;
	font-size: 30px;
	margin-left: 25%;
}
.footer_sub_title:after{
	opacity: 1;
	transform: rotate(90deg) translate(-5em, 10em);
	transition: .5s;
	content: "";
    display: block;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(-45deg, #f06428, #f37322);
}
.rectangel_left:hover .footer_sub_title:after{
	transform: rotate(90deg) translate(-8em, 9em)
}
.letter{
	color: #f26e24;
}
.rectangel_left:hover .footer_sub_title{
	transform: scale(0.9);
}
/*RIGHT*/


.right_info{
	color: #fff;
}
.scroll_footer{
	font-family: Intro, sans-serif;
	font-size: 40px;
	padding-left: 5em;
	display: flex;
}

.footer_info{
	letter-spacing: 1.5px;
	z-index: 10;
	font-family: Intro, sans-serif;
	font-size: 10px;
	text-align: right;
	width: 60%;
	padding-top: 10em;
	padding-left: 17em;

}

.footer_info:after{
	opacity: 1;
	transform: rotate(90deg) translate(8em, -5em);
	transition: .7s;
	transition-delay: 0.2s;
	content: "";
    display: block;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(-45deg, #f06428, #f37322);
}
.rectangel_right:hover .footer_info:after{
	transform: rotate(10deg) translate(35em, -3em);
}

.big_number{
	color: #5c5c5c;
	z-index: 1;
	opacity: 0.2;
	transform: translate(2.5em, -1.2em);
	font-family: Intro, sans-serif;
	font-size: 160px;
}
.footer_info:before{
	opacity: 1;
	transform: rotate(105deg) translate(-25em, -35em);
	transition: .7s;
	transition-delay: 0.2s;
	content: "";
    display: block;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(-45deg, #f06428, #f37322);
}
.rectangel_right:hover .footer_info:before{
	transform: rotate(105deg) translate(-20em, -35em);
}
.scroll_footer a{
	text-decoration: none;
	color: #fff;
}
.scroll_item_one{
	transition: .3s;
	transform: translate(-1.5em, 2em);
}
.scroll_item_one:hover{
	transform: translate(-1.3em, 2em) rotate(5deg);
	color: #ff8d57;
}
.scroll_item_two{
	transition: .3s;
	transform: translate(-0.7em, 1em) rotate(25deg);
}
.scroll_item_two:hover{
	transform: translate(-0.8em, 1em) rotate(20deg);
	color: #ffbd49;
}
.scroll_item_three{
	transition: .3s;
	transform: translate(-0.8em, 2.5em) rotate(-15deg);
}
.scroll_item_three:hover{
	transform: translate(-0.9em, 2.5em) rotate(-10deg);
	color: #ffda41;
}
.scroll_item_four{
	transition: .3s;
	transform: translate(-0.8em, .5em) rotate(-30deg);
}
.scroll_item_four:hover{
	transform: translate(-0.7em, .5em) rotate(-35deg);
	color: #fe8c57;
}
.scroll_item_fife{
	transition: .3s;
	transform: translate(-1em, 2.9em) rotate(39deg);
}
.scroll_item_fife:hover{
	transform: translate(-.9em, 3em) rotate(44deg);
	color: #ff7e42;
}
.scroll_item_six{
	transition: .3s;
	transform: translate(.1em, .9em) rotate(-25deg);
    background: linear-gradient(-45deg, #f5347f, #ff7a6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;

}
.scroll_item_six:hover{
	transform: translate(.2em, .9em) rotate(-20deg);
}


.convertes_x {
margin-top: -34.1vh;
	height: 75.5vh;
	margin-left: 3%;
}
