
.screen_four{
	overflow: hidden;
	height: 135vh;
	background: url('../img/parralax-bg/parralax-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Introo';
}
.four_block {
	font-family: 'Introo';

}
.titles_ad{
	color: #fff;
}
.planet1{
display: none;
}
.planet2 img{
	display: inline-block;
	transform: rotateY(180deg);
}
.planet3{
	transform: translate(90%, -505%);
}
.planets{
	transform: translate(0%,-10%);
}
.titles_ad{
	margin-top: 5em;
	margin-left: 50em;
}
.adv_title{
	font-size: 65px;
}
.adv_subtitle{
	margin-left: 13em;
	font-size: 20px;
}
.blocks{
	z-index: 11111;
	display: flex;
}
.block:hover{
	transform: scale(0.9);
}
.block:hover .bl_title{
		transition: .2s;
 background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}
.block{
	transition: .5s;
	padding: 3%;
	color: #393939;
	background-color: #fff;
}
.mid_bl_text{
	display: flex;
}
.bl_image{
	margin-left: 3em;
	margin-right: 1em;
	margin-bottom: 1em;
	width: 8%;
}
.bl_text{
	font-size: 15px;
 	margin-top: 1em;
 	margin-left: 2em;
}
.bl_title{

	font-size: 22px;
}
.blocks .standart1{
}
.blocks .standart2{
	transition: .5s;
	margin-top: 8em;
	margin-left: 3em;
}
.blocks:hover .standart2{
	margin-top: 10em;
}
.blocks .standart3{
	margin-top: 1em;
	margin-left: 3em;
}
.blocks .standart4{
	transition: .6s;
	margin-top: 6em;
	margin-left: 3em;
	margin-right: 2em;
}
.blocks:hover .standart4{
	margin-top: 10em;
}
.rectangel-bl{
	border-radius: 5px;
	transition: .3s;
	transform: translate(30%,20%);
    width: 200px;
    height: 15px;
    background-color: #ffb83b;
}
.standart1:hover .rectangel-bl{
	transform: translate(210%,20%);
}
.rectangel-bl2{
	border-radius: 5px;
	transition: .3s;
	transform: translate(530%,20%);
    width: 100px;
    height: 20px;
    background-color: #ffb83b;
}
.standart2:hover .rectangel-bl2{
	transform: translate(210%,20%);
}
.rectangel-bl3{
	border-radius: 5px;
	transition: .3s;
	transform: translate(530%,20%);
    width: 100px;
    height: 10px;
    background-color: #ffb83b;
}
.standart3:hover .rectangel-bl3{
	transform: translate(230%,20%);
}
.rectangel-bl4{
	border-radius: 5px;
	transition: .3s;
	transform: translate(30%,20%);
    width: 140px;
    height: 15px;
    background-color: #ffb83b;
}
.standart4:hover .rectangel-bl4{
	transform: translate(230%,20%);
}
.rectangel-bl-e{
	border-radius: 5px;
	transition: .3s;
	transform: translate(980%,-80%);
    width: 70px;
    height: 50px;
    background-color: #ffb83b;
}
.standart1:hover .rectangel-bl-e{
	transform: translate(230%,20%);
}
.rectangel-bl-e2{
	border-radius: 5px;
	transition: .3s;
	transform: translate(80%,-60%);
    width: 210px;
    height: 10px;
    background-color: #ffb83b;
}
.standart2:hover .rectangel-bl-e2{
	transform: translate(230%,20%);
}
.rectangel-bl-e3{
	border-radius: 5px;
	transition: .3s;
	transform: translate(-30%,-60%);
    width: 80px;
    height: 30px;
    background-color: #ffb83b;
}
.standart3:hover .rectangel-bl-e3{
	transform: translate(750%,-20%);
}
.rectangel-bl-e4{
	border-radius: 5px;
	transition: .3s;
	transform: translate(200%,-60%);
    width: 220px;
    height: 5px;
    background-color: #ffb83b;
}
.standart4:hover .rectangel-bl-e4{
	transform: translate(10%,-20%);
}
.standart1:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: 5%;
    margin-left: 74%;
    border-radius:90px;
    background: linear-gradient(45deg, #15eded, #029cf5);
}
.blocks:hover .standart1:after{
	width: 20%;
	 margin-left: 94%;
	 margin-top: -15%;
}
.standart2:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: 2%;
    margin-left: 44%;
    border-radius:90px;
    background: linear-gradient(45deg, #15eded, #029cf5);
}
.blocks:hover .standart2:after{
	width: 20%;
	 margin-left: 30%;
	 margin-bottom: 2%;
}
.standart3:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: 8%;
    margin-left: 54%;
    border-radius:90px;
         background: linear-gradient(45deg, #ff7b6e, #f5327f);
}
.blocks:hover .standart3:after{
	width: 5%;
	margin-bottom: 10%;
	margin-left: 4%;
}
.standart1:before{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: 5%;
    margin-left: 10%;
    border-radius:90px;
        background: linear-gradient(45deg, #863be6, #5594fe);
}
.blocks:hover .standart4:after{
	width: 20%;
	margin-bottom: 1%;
	margin-left: 64%;
}
.standart2:before{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: 3%;
    margin-left: 70%;
    border-radius:90px;
    background: linear-gradient(45deg, #ffdc41, #ff8459);

}
.blocks:hover .standart2:before{
	width: 22%;
	margin-bottom: 1%;
	margin-left: 64%;
}
.standart3:before{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: 3%;
    margin-left: 21%;
    border-radius:90px;
    background: linear-gradient(45deg, #ff7b6e, #f5327f);
}
.blocks:hover .standart3:before{
	width: 12%;
	margin-bottom: 5%;
	margin-left: 64%;
}
.standart4:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: -5%;
    margin-left: 21%;
    border-radius:90px;
    background: linear-gradient(45deg, #ffdc41, #ff8459);
}
.block:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    margin-bottom: -2%;
    margin-left: -14%;
    border-radius:90px;
    background: linear-gradient(45deg, #863be6, #5594fe);
}
.block:hover:after{
	 width: 20%;
	background: linear-gradient(45deg, #46edab, #2cc0c6);
}

/*-------------*/
/*FOUR BLOCK*/
/*-------------*/


.info_block{
	overflow: hidden;
	padding-top: 3em;
	display: flex;
	height: 19vh;
	background-color: #2c2c2c;
}
.convert_bl_info{
	font-size: 40px;
	display: flex;
	margin-left: 2em;
}
.text_bl_info{
	color: #fff;
	text-align: right;
	margin-left: 5em;
	margin-top: 1.5em;
	margin-right: 8em;
	font-size: 13px;
}
.text_bl_info:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: inline-block;
    width: 115%;
    height: 10px;
    margin-bottom: -2%;
    margin-left: 50%;
    border-radius:90px;
    background: linear-gradient(45deg, #15ebed 33%, #029df5);
}
.info_block:hover .text_bl_info:after{
	margin-left: 10%;
}
.conver_btn_gradient{
	margin-left: 0.5em;
	transition: .2s;
    background: linear-gradient(45deg, #15ebed 33%, #029df5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.conver_btn{
	transition: .2s;
	color: #fff;
	text-transform: uppercase;
}
.convert_bl_info{
	transition: .2s;
	height: 31%;
	padding: 1% 5%;
	border: 3px solid #fff;
	border-radius: 40px;
}
.convert_bl_info:hover{
	background: #fff;
	border: 3px solid #555;
}
.convert_bl_info:hover .conver_btn{
		transition: .2s;
    background: linear-gradient(45deg, #15ebed 33%, #029df5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
#link15, #linkess {
	color: #029cf5;
	transition: .4s;
}
#link15:hover, #linkess:hover {
	color: #15eded;
}
