.kosmonavt {
  height: 100vh;
  overflow: hidden;
}
.parralax-screen {
  width: 100%;
  height: 100vh;
  background-color: gray;
	background: url("../img/parralax-bg/screen-bg.jpg") no-repeat center bottom #222;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 110%;

  display: flex;
}
.planetaaa {
  width: 25vh;
  height: 25vh;
  padding-top: 10vh;
  margin-left: -3vw;
}
#planetaaa {
  width: 17vw;
  height: auto;

  /* animation: saturn 10s ease infinite; */
}
.linear-hr {
  margin-left: -50%;
  margin-top: 20vh;
  height: 31vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hrinkosmonavt {
  width: 2vw;
  height: 3px;
  border-radius: 1em;
  background-color: #fff;
  border-color: #fff;
  color: #fff;
}
.hrk1 {
  animation: hrkosm linear 3s infinite;
  animation-delay: 0.9s;
}
.hrk2 {
  animation: hrkosm linear 3s infinite;
  animation-delay: 0.4s;
}
.hrk3 {
  animation: hrkosm linear 3s infinite;
  animation-delay: 1.4s;
}
.text-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 10vw;
    margin-top: 20vh;
}
.bigtextkosmonavt {
  font-family: 'Intro Inline';
  font-size: 4em;
}
.smalltextkosmonavt {
  font-family: 'Cleanvertising';
    font-size: 1.6em;
    margin-top: 16px;
}
.fbutton_ {
    width: 35vw;
    height: 10vh;
    margin-top: 7vh;
    font-family: 'Introo';
}
.button_last_ {
    letter-spacing: 1.3px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3.5% 13%;
    border-radius: 99px;
    transition: .6s;
    background: #15eded;
  	box-shadow: 35vw 0 8vw -25vw #029cf5 inset;
  	animation: animaheres 2s infinite linear;
  }

  @keyframes animaheres {
  50% {
  	background: #029cf5;
  	box-shadow: 20vw 0 4vw -25vw #15eded inset;
  }
}
.button_last_:hover {
  margin-left: 4%;
}
.astronaut_ {
  position: relative;
    width: 145%;
    margin-top: -9vh;
    animation: saturn 10s ease infinite;
}
.astro-text {
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  font-family: 'Introo';
  color: #fff;
  font-size: 2em;

  margin-top: -60vh;
}
.astro-text_ {
  margin-top: -35vh;
  margin-left: 10vw;
}
.astro-text::after {
  content: '';
  display: block;
  height: 15px;
  margin-top: -12px;
  margin-left: 25px;
  background: linear-gradient(90deg, #59c2ff, #1270e3);
}
@keyframes saturn {
  0% {
    transform: translate(5%, 0%);
  }
  24% {
    transform: translate(10%, 5%);
  }
  36% {
    transform: translate(15%, 10%);
  }
  50% {
    transform: translate(5%, 5%);
  }
  69% {
    transform: translate(0%, 10%);
  }
  87% {
    transform: translate(-5%, 5%);
  }
  100% {
    transform: translate(5%, 0%);
  }
}
@keyframes hrkosm {
  0%{
    width: 2vw;

  }
  60%{
    width: 12vw;
  }
  100%{
    width: 2vw;
  }
}
