body {
  font-family: 'Introo';
  width: 100%;
  height: 100vh;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
    background: #fff;
    box-shadow: 0 0 56px rgba(0,0,0,0.2);
    border-radius: 40px;
    width: 30vw;
    height: 75vh;
    display: flex;
    /* justify-content: space-around; */
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 59vh;
}
input {
    box-shadow: 0 0px 28px rgba(0,0,0,0.25), 0 0px 20px rgba(0,0,0,0.22);
    border: none;
    border-radius: 21px;
    padding: 2vh 0.2vw;
    font-size: 1.2em;
    love: me;
    text-align: center;
    font-family: introo;
    margin-bottom: 4vh;
}
#button {
    font-size: 1.3em;
    padding: 3vh 5vw;
    margin-bottom: 0vh;
    margin-top: 3vh;
    color: #fff;
    background: #15eded;
    box-shadow: 29vw 0 8vw -25vw #029cf5 inset;
    animation: animaher 3s infinite alternate;
    transition: .4s;
}
#button:hover {
  transform: scale(0.89);
}
  @keyframes animaher {
  50% {
  	background: #029cf5;
  	box-shadow: 50vw 0 4vw -25vw #15eded inset;
  }
  }
h1 {
   text-align: center;
   font-size: 2.5em;
   padding: 5vh;
}
h5 {
    color: #d4d4d4;
    width: 23vw;
    margin: auto;
    font-size: 0.8em;
}
.btn {
    position: relative;
    z-index: 100;
    margin: auto;
    width: 13vw;
    margin-top: -3vh;
    border: 1.5px solid black;
    text-align: center;
}
