body {
  font-family: 'Introo';
  width: 100%;
  height: 100vh;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
    background: #fff;
    box-shadow: 0 0 56px rgba(0,0,0,0.2);
    border-radius: 40px;
    width: 75vw;
    height: 70vh;
    display: flex;
    /* justify-content: space-around; */
}
.text {
  padding-left: 10vh;
  padding-top: 6vh;
}
h1  {
  font-size: 2.5em;
  padding-bottom: 10vh;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: -16px;
  margin-right: 1vw;

  background: linear-gradient(45deg, #5d85fa, #7e4aea);
}
.crc2 {
  background: linear-gradient(45deg, #12deee, #05abf4);
}
.crc3 {
  background: linear-gradient(45deg, #43e2a8, #06aef3);
}
.crc4 {
  background: linear-gradient(45deg, #43e2a8, #33c5b9);
}

li {
  padding-bottom: 5vh;
  font-size: 1.35em;
}
li p {
  padding-left: 1.5vw;
  color: #999;
}
.bottomtext {
    color: #ddd;
    font-size: 0.6em;
    width: 23vw;
    padding-top: 8vh;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44vw;
    height: 40vh;
    margin-top: 19vh;
}
input {
    box-shadow: 0 0px 28px rgba(0,0,0,0.25), 0 0px 20px rgba(0,0,0,0.22);
    border: none;
    border-radius: 21px;
    padding: 2vh 1vw;
    font-size: 1.6em;
    love: me;
    text-align: center;
    font-family: introo;
    margin-bottom: 5vh;
}
.input {
    box-shadow: 0 0px 28px rgba(0,0,0,0.25), 0 0px 20px rgba(0,0,0,0.22);
    border: none;
    border-radius: 21px;
    padding: 2vh 1vw;
    font-size: 1.6em;
    love: me;
    text-align: center;
    font-family: introo;
    margin-bottom: 5vh;
    display: contents;
}
#button {
    font-size: 1.3em;
    padding: 3vh 5vw;
    margin-bottom: -13vh;
    margin-top: 10vh;
    color: #fff;

    background: #15eded;
  	box-shadow: 29vw 0 8vw -25vw #029cf5 inset;
  	animation: animaher 3s infinite alternate;
    transition: .4s;
}
#button:hover {
  transform: scale(0.89);
}
  @keyframes animaher {
  50% {
  	background: #029cf5;
  	box-shadow: 50vw 0 4vw -25vw #15eded inset;
  }
  }
#button1 {
  font-size: 1.3em;
  padding: 3vh 5vw;
  margin-bottom: -28vh;
  margin-top: 21vh;
  color: #fff;
  background: #15eded;
  box-shadow: 29vw 0 8vw -25vw #029cf5 inset;
  animation: animaher 3s infinite alternate;
  transition: .4s;
}
#button1:hover {
transform: scale(0.89);
}
.mailtext {
  z-index: 10;
  position: absolute;
  width: 28vw;
  padding: 17vh;
  padding-bottom: 0;
  text-align: center;
}
