@charset "utf-8";

*::selection {
  background: #7f2ace;
  color: #ffffff69;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
}

:focus {
   outline: 0;
}

body {
   line-height: 1;
   color: black;
   background: white;
}

ol,
ul {
   list-style: none;
}

table {
   border-collapse: separate;
   border-spacing: 0;
}

caption,
th,
td {
   text-align: left;
   font-weight: normal;
}
a {
  cursor: pointer;
  text-decoration: none;
}
section {
  overflow: hidden;
}
