@font-face{
font-family: 'Introo';
src: url('../fonts/introo.otf');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'Intro Inline';
src: url('../fonts/introin.otf');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'Cleanvertising';
src: url('../fonts/cleanvertising-black.ttf');
font-weight: bold;
font-style: normal;
}
